* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


/* Estilos personalizados para el header y navbar */
.header {
background-color: transparent; /* Fondo transparente para el header */
padding: 10px;
}

.navbar-custom {
background-color: transparent; /* Fondo transparente para el navbar */
}


.navbar-nav {
list-style: none;
display: flex;
align-items: center;
margin: 0;
font-size: 20px;

}

.navbar-nav li {
margin-left: 50px; /* Espaciado entre los elementos del menú */
}

.navbar-nav li:first-child {
margin-left: auto; /* Mover el primer elemento del menú a la derecha */
}

.navbar-nav a {
text-decoration: none;
color: #000; /* Color del texto del enlace del menú */
}



body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-image: url(../img/fondo2.jpg);

}


.wrapper {
width: 100%;
height: 100vh;
background-image: url(../img/fondo.jpg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

      
}

.wrapper2 {
width: 100%;
height: 115vh;
background-image: url(../img/fondo2.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}



.brand {
  margin-top: -7px;
  color: black;
  text-decoration: none;
}
.brand span {
  color: #AEBFC4;
}




.navbar-nav a:hover {
  color: black;
  background-color: #AEBFC4;
  transition: ease-in .4s;
  border-radius: 10px;
  
}


.main .container {
  max-width: 1200px; /* Establece un ancho máximo para el contenedor */
  margin: 150px 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Agrega espacio interno al contenedor */

}




.espacio {
  margin-left: 10px;
}



h1 span {
  color:  #AEBFC4;
}

button.button-class {
  background-color: #AEBFC4;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: white; /* Cambia el color de fondo al pasar el cursor */
}



.contenido {
  max-width: 600px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centrar el contenido horizontalmente */
}



.parrafo1 {
  margin-bottom: 20px; /* Espaciado inferior de los párrafos */
  margin-top: 100px;
  font-size: 18px;

}

.parrafo2 {
  font-size: 18px;
  
}


.contacto {
  padding: 40px; /* Espaciado interno de la sección */
  text-align: center; /* Centrar el contenido */
  background-image: url(../img/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
}

.contacto h2 {
  color: black; /* Color del título */
  margin-bottom: 20px; /* Espacio inferior del título */
  margin-top: 20px;
  font-size: 25px;
}

.formulario {
  max-width: 400px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar el formulario horizontalmente */
  margin-bottom: 50px;
}

.campo {
  margin-bottom: 20px; /* Espacio entre los campos */
  text-align: left; /* Alinear el texto a la izquierda */
}

label {
  display: block; /* Mostrar el label en una línea separada */
  margin-bottom: 5px;
  color: black;
  
}


textarea {
width: 100%; /* Ancho completo del campo de entrada de texto */
padding: 30px; /* Espaciado interno del campo de entrada de texto */
border: none; /* Quitar borde */
border-radius: 5px; /* Borde redondeado */
}

#nombre {
padding: 8px;
border-radius: 5px;
border: none;
}

#email {
padding: 8px;
border-radius: 5px;
border: none;
}


.contacto button {
display: block; /* Mostrar el botón en una línea separada */
background-color: #AEBFC4; /* Color de fondo del botón */
color: black; /* Color del texto del botón */
padding: 10px 20px; /* Espaciado interno del botón */
border: none; /* Quitar borde */
border-radius: 5px; /* Borde redondeado */
cursor: pointer; /* Cambiar el cursor al pasar el mouse por encima del botón */
}

.contacto button:hover {
background-color: white; /* Color de fondo del botón al pasar el mouse */
}

.footer {
  background-color: #AEBFC4; /* Color de fondo del footer */
  padding: 10px; /* Espaciado interno del footer */
  text-align: center; /* Centrar el texto */
  width: 100vw;
  height: 100%;
  font-size: 15px;
}



.main-sobremi .container {
 display: flex;
  align-items: flex-start;
  background-image: url(../img/fondo2.jpg);
  gap: 100px;
  padding: 50px;
  padding-top: 90px;

} 


.seccion-sobremi {
  display: flex;
  flex-direction: column; /* Cambia a disposición vertical */
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 17px;
  max-height: 600px;
  overflow: auto;
}


.main-proyectos {
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px; /* Espacio entre los proyectos */
  max-width: 1200px; /* Ajusta el ancho máximo de la sección */
  margin: 0 auto; /* Centra la sección horizontalmente */
  padding: 30px; /* Ajusta el relleno de la sección */
  padding-top: 150px;
  
}

.proyecto {
  font-size: 15px;
  padding: 20px;
  background-color: #fff; /* Color de fondo del contenedor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
  
}

.proyecto span {
  font-weight:  bold;
  color: #8E9EA4;
}

.proyecto a {
  font-size: 20px;
  color: #8E9EA4;
  font-weight: bold;
}




/* Estilos generales de la sección de contacto */
.contacto {
max-width: 800px;
margin: 0 auto;
padding: 80px;
}

.contacto h2 {
text-align: center;
}

.contacto-form {
display: flex;
flex-direction: column;
}

.contacto-form label {
margin-bottom: 5px;
}

.contacto-form input[type="text"],
.contacto-form input[type="email"],
.contacto-form textarea {
width: 100%;
padding: 5px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

.contacto-form textarea {
resize: vertical;
}

.contacto-form input[type="submit"] {
background-color: #AEBFC4;
color: black;
border: none;
padding: 8px 16px;
border-radius: 5px;
cursor: pointer;
}

.contacto-form input[type="submit"]:hover {
background-color: white;
}


@media screen and (max-width: 880px) {
  * {
    font-size: 15px;
  }


  .main-sobremi .container {
    
     gap: 100px;
     padding: 20px;
     padding-top: 80px;
   
   } 

  .nombre span {
    font-size: calc(1.325rem + .9vw);
  }

  
  .main-proyectos {
    gap: 5px;
    padding: 10px; 
    padding-top: 5px;
  }
  .proyecto {
    padding: 5px;
    
  }

  .proyecto a {
    font-size: 12px;
  }

  .footer {
    padding: 2px;
    font-size: 2px;
  }
}



@media screen and (max-width: 440px) {


  * {
    font-size: 12px;
  }

  .proyecto {
    font-size: 8px;
  }
  
  .proyecto a {
    font-size: 10px;
  }


  

}

