.footer {
    background-color: $maincolor; /* Color de fondo del footer */
    padding: 10px; /* Espaciado interno del footer */
    text-align: center; /* Centrar el texto */
    width: 100vw;
    
    font-size: 15px;
    font-weight: bold;
  }
  